@font-face {
  font-family: 'opensans';
  src: url("../font/open-sans/OpenSans-Bold.ttf") url("../font/open-sans/OpenSans-BoldItalic.ttf") url("../font/open-sans/OpenSans-ExtraBold.ttf") url("../font/open-sans/OpenSans-ExtraBoldItalic.ttf") url("../font/open-sans/OpenSans-Italic.ttf") url("../font/open-sans/OpenSans-Light.ttf") url("../font/open-sans/OpenSans-LightItalic.ttf") url("../font/open-sans/OpenSans-Regular.ttf") url("../font/open-sans/OpenSans-Semibold.ttf") url("../font/open-sans/OpenSans-SemiboldItalic.ttf");
}

@font-face {
  font-family: 'alexbrush';
  src: url("../font/alex-brush/AlexBrush-Regular.ttf");
}

html::-webkit-scrollbar {
  background-color: #626060;
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #29292a;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #1c1c1d;
}

article::-webkit-scrollbar {
  background-color: #626060;
  width: 7px;
}

article::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #29292a;
}

article::-webkit-scrollbar-thumb:hover {
  background-color: #1c1c1d;
}

html {
  scroll-behavior: smooth;
}

/* CSS3 cofigure codes */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-moz-selection {
  color: white;
  background-color: #333;
}

*::selection {
  color: white;
  background-color: #333;
}

body {
  overflow-x: hidden;
  direction: ltr;
  font-family: 'opensanse';
}

#go-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}

#go-to-top i {
  color: #5e88fc;
  font-size: 3rem;
}

.bor-rad-50 {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 25px;
  padding: 1rem 2rem;
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.cls {
  clear: both;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-muted {
  color: #b1b1b1;
}

.cur-poi {
  cursor: pointer;
}

.m-1 {
  margin: 1.5rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-1 {
  margin: 0 1.5rem 0 1.5rem;
}

.mx-2 {
  margin: 0 2rem 0 2rem;
}

.mx-3 {
  margin: 0 3rem 0 3rem;
}

.mx-4 {
  margin: 0 4rem 0 4rem;
}

.mx-5 {
  margin: 0 5rem 0 5rem;
}

.my-1 {
  margin: 1.5rem 0 1.5rem 0;
}

.my-2 {
  margin: 2rem 0 2rem 0;
}

.my-3 {
  margin: 3rem 0 3rem 0;
}

.my-4 {
  margin: 4rem 0 4rem 0;
}

.my-5 {
  margin: 5rem 0 5rem 0;
}

.mt-1 {
  margin: 1.5rem 0 0 0;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mb-1 {
  margin: 0 0 1.5rem 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.mr-1 {
  margin: 0 1.5rem 0 0;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

.mr-5 {
  margin: 0 5rem 0 0;
}

.ml-1 {
  margin: 0 0 0 1.5rem;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.ml-5 {
  margin: 0 0 0 5rem;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.px-1 {
  padding: 0 1.5rem 0 1.5rem;
}

.px-2 {
  padding: 0 2rem 0 2rem;
}

.px-3 {
  padding: 0 3rem 0 3rem;
}

.px-4 {
  padding: 0 4rem 0 4rem;
}

.px-5 {
  padding: 0 5rem 0 5rem;
}

.py-1 {
  padding: 1.5rem 0 1.5rem 0;
}

.py-2 {
  padding: 2rem 0 2rem 0;
}

.py-3 {
  padding: 3rem 0 3rem 0;
}

.py-4 {
  padding: 4rem 0 4rem 0;
}

.py-5 {
  padding: 5rem 0 5rem 0;
}

.pt-1 {
  padding: 1.5rem 0 0 0;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pb-1 {
  padding: 0 0 1.5rem 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.pr-1 {
  padding: 0 1.5rem 0 0;
}

.pr-2 {
  padding: 0 2rem 0 0;
}

.pr-3 {
  padding: 0 3rem 0 0;
}

.pr-4 {
  padding: 0 4rem 0 0;
}

.pr-5 {
  padding: 0 5rem 0 0;
}

.pl-1 {
  padding: 0 0 0 1.5rem;
}

.pl-2 {
  padding: 0 0 0 2rem;
}

.pl-3 {
  padding: 0 0 0 3rem;
}

.pl-4 {
  padding: 0 0 0 4rem;
}

.pl-5 {
  padding: 0 0 0 5rem;
}
